* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.home-page {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.home-page-padding {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    padding-top: 63px;
}

.header .menu {
    float: right;
}

.header .menu-li {
    list-style-type: none;
    float: left;
}

.header .menu-a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.header .menu-a-home {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.header .menu-a:hover {
    color: #212121;
}

.text {
    margin-top: 283px;
    }

.text .text-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.text .text-header {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.text .text-main {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.text .button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    width: 212px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
}
.text .button:hover:after {
    content: ">";
    
}

.paggination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.paggination .paggination-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c7c7c7;
    margin: 5px;
}

.paggination .paggination-circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.paggination .paggination-circle:hover {
    background-color: #212121;
}
