* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*sticky menu
.navbar-cticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
*/
