* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*sticky menu
.navbar-cticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
*/

/*first*/
.container {
    width: 1366px;
    margin: 0 auto;
}

.home-page {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.home-page-padding {
    padding-left: 98px;
    padding-right: 98px;
}

.header {
    padding-top: 63px;
}

.header .menu {
    float: right;
}

.header .menu-li {
    list-style-type: none;
    float: left;
}

.header .menu-a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.header .menu-a-home {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.header .menu-a:hover {
    color: #212121;
}

.text {
    margin-top: 283px;
}

.text .text-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.text .text-header {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
}

.text .text-main {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    width: 212px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
}

.button:hover:after {
    content: ">";
}

.paggination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.paggination .paggination-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c7c7c7;
    margin: 5px;
}

.paggination .paggination-circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.paggination .paggination-circle:hover {
    background-color: #212121;
}


.container2 {
    height: 608px;
    width: 1366px;
    margin: 0 auto;
}

.container2 .product {
    padding-top: 120px;
}

.container2 .product.container2 .characteristic {}

.container2 .characteristic a {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    float: left;
}

.container2 .characteristic-active {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 3px solid #212121;
}

.container2 .all-products {}

.all-products a {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    padding-bottom: 0;
}

.container2 .products {
    clear: both;
    padding-top: 65px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
}

.inline {
    float: right;
}

.container2 img[alt*="product"] {
    width: 270px;
    height: 270px;
}

/*third*/
.container3 {
    width: 1366px;
    height: 683px;
    margin: 0 auto;
}

.container3 .detailed {
    display: flex;
}

.container3 .product-detailed {}

.container3 .text-product-1-detailed {
    height: 683px;
    width: 683px;
    background-image: url(img/cont3back1.jpg);
}

.text-exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    padding-top: 228px;
}

.text-exclusive,
.text-header-detailed,
.text-main-cont3 {
    padding-left: 52px;
}

.text-header-detailed {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.text-main-cont3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    display: block;
    height: 36px;
    width: 374px;
}

.container3 .text-product-2-detailed {
    height: 683px;
    width: 683px;
    background-image: url(img/cont3back2.jpg);
}

.button3 {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-align: center;
    width: 212px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 52px;
}

/*fourth */
.container4 {
    height: 1108px;
    width: 1366px;
    margin: 0 auto;
}

.container4 .product-photo {
    margin-top: 120px;
}

.container4 .characteristic {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.pro-photo {
    padding-top: 64px;
    width: 1170px;
    height: 770px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.container4 .product-photo-link {
    list-style-type: none;
}

.container4 img[alt="photo1"] {

    height: 370px;
    width: 370px;
}

.container5 {
    width: 1366px;
    margin: 0 auto;
    position: relative;
}

.container5 .hott-deal {
    background-image: url(img/container5.jpg);
    height: 800px;
}

.container5 .text5 {
    padding-top: 287px;
    padding-left: 98px;
}

.container5 .text-hot {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.container5 .text-header5 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
}

.container5 .text-main {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    height: 38px;
    margin-bottom: 48px;
}

.container5 .paggination5 {
    position: absolute;
    bottom: 19px;
    text-align: center;
    width: 1366px;
}

.container5 .paggination5 .paggination5-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c7c7c7;
    margin: 5px;
}

.container5 .paggination5 .paggination5-circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.container6 {
    margin: 0 auto;
    width: 1366px;
}

.container6 .product-photo6 {
    height: 810px;
}

.container6 .prod-foto {
    padding-top: 120px;
    padding-left: 98px;
    width: 1170px;
    height: 570px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.container6 .prod-foto-link6 {
    list-style-type: none;
}

.container6 .prod-foto-link6.container6 .photo {}

.container6 img[alt="photo6"] {
    height: 270px;
    width: 270px;
}

.container7 {
    width: 1366px;
    margin: 0 auto;
    height: 1000px
}

.column {
    display: flex;
    padding-top: 120px;
    padding-left: 98px;
    padding-right: 98px;
}

.container7 .contacts {}

.container7 .text-contacts {
    height: 516px;
    background-image: url(img/cont7-back.jpg);
    padding-left: 98px;
}

.container7 .text-mob-app {
    padding-top: 120px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

}

.container7 .text-header {
    color: #212121;
    font-size: 50px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    width: 407px;

}

.container7 .text-main {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
}

.container7 .Ios {}

.container7 .Ios img {
    width: 135px;
    height: 40px;
}

.container7 .Gplay {}

.container7 .Gplay img {}

.container7 footer {
    background-color: #f7f7f7;
    height: 384px;
}

.container7 .adress {
    display: block;
    width: 40%;
}

.contactus {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.contactus-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 221px;
}

.container7 br {}

.container7 .useful {
    display: block;
    width: 40%;
}

.container7 .useful .contactus {}

.container7 .useful-ul {
    list-style-type: none;
    display: flex;
    height: 132px;
    flex-flow: column wrap;
    line-height: 40px;
}

.container7 li {}

.container7 .useful-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.container7 .intouch {
    display: block;
    width: 40%;
}

.intouch-text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    width: 363px;
}

.container7 .intouch .contactus {}

.container7 .intouch p {}

.container7 .e-mail {}

.container7 input {
    margin-top: 30px;
    margin-left: 5px;

}

.container7 input[type="email"] {
    height: 48px;
    width: 370px;
}

.container7 .copyright {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 60px;
}

.container7 .copyright-text {}

.container7 .copyright-text p {}

.social {
    display: flex;
}

.social a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #6c6c6c;
    text-align: center;
}

.container7 .social .paggination-circle {}

.container7 .social .paggination-circle {}

.container7 .social .paggination-circle.container7 div.terms {}

.container7 a.terms {
    text-decoration: none;
}
