* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

body li {
	list-style-type: none;
}

body a {
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

body a:active {
	text-shadow: 2px 2px 2px #ccc;
}

.prod-det {
	min-height: 100%;
	width: 1366px;
	margin: 0 auto;
}

/*menu index*/
.header {
	margin-top: 63px;
	padding-left: 98px;
}

.header .menu {
	float: right;
	padding-right: 98px;
}

.header .menu-li {
	list-style-type: none;
	float: left;
}

.header .menu-a {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 13px;
}

.header .menu-a-home {
	color: #212121;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.header .menu-a:hover {
	color: #212121;
}

.contacts-header {
	height: 360px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.contacts-header-text {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	margin-left: 98px;
	margin-top: 120px;
}

.products-menu {
	clear: both;
	height: 60px;
	margin-top: 27px;
	padding-top: 10px;
	padding-left: 105px;
	margin-bottom: 27px;
}

.prod-li {
	float: left;
}

.prod-a {
	display: block;
	margin: 15px 15px;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.prod-a-active {
	color: #212121;
}

.proddet-pic {
	padding-top: 64px;
	width: 1170px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-left: 98px;
}

.proddet-pic img[alt*="image"] {
	height: 370px;
	width: 370px;
}

.refresh {
	clear: both;
	display: block;
	width: 100%;
	text-align: center;
	margin: 71px 98px 0px;
}

.refresh a {
	display: block;
	height: 150px;
}

.slider3 {
	display: flex;
}

.slider3-prod {
	height: 683px;
	width: 683px;
	background-image: url(../img/cont3back1.jpg);
}

.slider3-exclusive {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	line-height: 48px;
	text-transform: uppercase;
	padding-top: 228px;
}

.slider3-exclusive,
.slider3-header,
.slider3-main {
	padding-left: 52px;
}

.slider3-header {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.slider3-main {
	font-size: 14px;
	font-weight: 300;
	line-height: 24.04px;
	width: 50%;
}

.slider3-prod2 {
	height: 683px;
	width: 683px;
	background-image: url(../img/cont3back2.jpg);
}

.button3 {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
	border-radius: 23px;
	background-color: #ffffff;
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	text-align: center;
	width: 212px;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	text-decoration: none;
	margin-top: 60px;
	margin-left: 52px;
}

.clr {
	height: 384px;
	display: block;
	clear: both;
}

/*footer index*/
.footer {
	background-color: #f7f7f7;
	height: 384px;
	width: 1366px;
	margin: -384px auto 0;
}

.footer-content {
	display: flex;
	justify-content: space-around;
	padding-left: 98px;
	padding-top: 120px;
}

.footer-header {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.footer-maintext {
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	width: 221px;
}

.footer-useful {
	display: block;
	width: 40%;
}

.footer-useful-links {
	list-style-type: none;
	display: flex;
	height: 132px;
	flex-flow: column wrap;
	line-height: 40px;
}

.footer-useful-links .links {
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	text-decoration: none;
}

.footer-intouch {
	display: block;
	width: 40%;
}

.footer a:hover {
	text-decoration: underline;
}

.footer-intouch-txt {
	color: #212121;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	width: 363px;
}

.footer-input {
	margin-top: 30px;
	margin-left: 5px;
}

.footer-input input[type="email"] {
	height: 48px;
	width: 370px;
}

.copy-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
	margin-left: 98px;
	margin-right: 98px;
}

.footer-copyright {
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}


.form-input.email {
	height: 48px;
	width: 280px;
	padding-left: 15px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

.form-input.sabmit {
	height: 48px;
	width: 48px;
	border-left: none;
	background-image: url(../img/submit.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	box-sizing: content-box;
	opacity: .5;
}

.form-input.sabmit:hover {
	background-color: #ccc;
}

.form-input.sabmit:active {
	background-color: darkgrey;
}

.socials a {
	text-decoration: none;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #6c6c6c;
	text-align: center;
}

.app img:hover,
.google img:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.app img:active,
.google img:active {
	box-shadow: 0 3px 10px #212121;
}

.socials img:hover {
	background-color: gainsboro;
	border-radius: 50%;
}

.socials img:active {
	background-color: #212121;
	border-radius: 50%;
}

.terms {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
